@import 'normolize'
@import 'elements'
@import 'header'
@import 'modal'
@import 'future'

.main
    position: relative
    z-index: 1
    padding: 40px 0 0
    min-height: 750px
    overflow: hidden
    color: #000

    h1
        font-size: 44px
        font-weight: 400
        max-width: 450px
        margin: 0 0 20px

    &__text
        font-size: 20px

    &__img
        position: absolute
        right: 0
        bottom: -5%
        height: 106%
        object-fit: contain
        object-position: top right
        width: 78%
        pointer-events: none
        z-index: -1

.features
    position: relative
    z-index: 1
    top: -100px
    padding: 0 0 80px
    &::after
        content: ''
        display: block
        width: 100%
        height: 58%
        position: absolute
        bottom: 0
        left: 0
        background-color: $prime
        opacity: .15
        z-index: -1

    .container
        max-width: 1400px
        justify-content: center
        align-items: stretch
        gap: 30px 1.4%

    .item
        display: inline-block
        border-radius: 36px
        border: 1px solid rgba(0, 0, 0, 0.26)
        background: #FFF
        padding: 40px 10px 45px
        width: 15.5%
        text-align: center
        &:nth-child(2)
            border: 1px solid rgba(0, 0, 0, 0.26)
            box-shadow: -10px 21px 56px -7px rgba(0, 0, 0, 0.25)
       
        img
            margin-bottom: 5px
            opacity: .9
       
        p
            font-size: 16px
            font-weight: 600
            margin: 0

.products
    justify-content: center
    gap: 20px
    max-width: 1500px
    margin: 0 auto 60px

.product
    width: 386px
    border-radius: 30px
    border: 1px solid rgba(0, 0, 0, 0.26)
    background: #FFF
    display: inline-flex
    justify-content: center
    padding-bottom: 22px
    flex-wrap: wrap
    overflow: hidden
    align-items: center
    position: relative
    z-index: 1
    .heading
        position: absolute
        top: 20px
        left: 20px
        z-index: 111
        font-weight: 900
        color: #fff
        font-size: 26px

    &-img
        width: 100%
        height: 250px
        display: flex
        align-items: flex-end
        justify-content: center
        position: relative
        z-index: 1
        img
            max-width: 100%
            max-height: 80%
        &::before
            content: ''
            display: block
            width: 100%
            height: 70%
            position: absolute
            z-index: -1
            top: 0
            left: 0
            border-radius: 30px
            background-image: url('../img/galxy.jpg')
            background-size: cover
            background-repeat: no-repeat

    .it
        width: 31%
        padding: 0 6px
        font-size: 12px
        margin-bottom: 20px
        line-height: 130%
        display: inline-flex
        justify-content: center
        align-items: center
        img
            margin-right: 7px
            max-width: 30px

    .ib
        display: flex
        justify-content: center
        align-items: center
        width: 90%
        gap: 0 14px
        margin: 0 auto 20px
        .it
            padding: 0
            margin: 0
            font-weight: bold
            width: 118px
            img
                max-width: 40px

    ul
        padding-left: 17px
        margin: 0
        li
            font-size: 12px
            padding: 0
            margin: 0

    .btn
        width: 46%
        padding: 18px 10px 16px
        font-size: 16px
        font-weight: 600
        text-transform: none
        border-radius: 0 60px 60px 0
        border: 2px solid $prime
        box-shadow: none
        transform-origin: 0% 50%
        min-width: unset
        &_outline
            transform-origin: 100% 50%
            color: $prime
            border-radius: 60px 0 0 60px

.wides
    h2
        text-align: center

    .text
        text-align: center
        max-width: 840px
        margin: 0 auto

    .wrap
        margin: 80px auto 30px

    .container
        max-width: 1040px

    &-title 
        width: 50%
        p 
            font-size: 14px
        
        ul 
            display: flex
            padding-left: 14px
            justify-content: space-between
            flex-wrap: wrap

        li 
            width: 47%
            padding: 5px 0 
            font-size: 13px
            &::first-letter
                text-transform: uppercase

.wide
    min-width: 45%
    position: relative
    background-color: red
    padding: 37px 44px 30px 190px
    border-radius: 30px
    background: #FFF
    border: 1px solid rgba(0, 0, 0, .2)
    &__img
        position: absolute
        left: -80px
        top: 50%
        transform: translateY(-50%)
        width: 250px
        height: 480px
        object-fit: contain
        // background-color: red

    .heading
        font-size: 20px
        font-weight: 800
        margin-bottom: 10px

    .it
        font-size: 12px
        margin-bottom: 10px
        line-height: 130%
        display: flex
        align-items: center
        img
            margin-right: 7px
            width: 30px
            object-fit: contain

    .wrap
        margin-top: 15px
        .it
            margin: 0 5px

    .btn
        margin-top: 30px
        width: 100%
        padding: 15px 10px 13px
        font-size: 16px
        font-weight: 600
        text-transform: none
        border: 2px solid $prime
        box-shadow: none
        transform-origin: 0% 50%
        min-width: unset
        position: relative
        left: -15px

    &.reverce
        padding: 37px 190px 30px 44px

        .wide
            &__img
                left: auto
                right: -80px
                // width: 300px

.comparison
    mark
        border-radius: 10px
        display: inline-block
        padding: 2px 8px
        vertical-align: middle

    .info
        padding: 21px 40px 21px 90px
        border: 1px solid #eee
        border-radius: 60px
        font-weight: 400
        font-size: 16px
        line-height: 150%
        max-width: 870px
        background-image: url('../img/information.svg')
        background-repeat: no-repeat
        background-position: center left 26px

    .wrap
        position: relative
        b
            display: block
            font-weight: 900

    .right, .left
        width: 50%

    &-img
        width: 100%
        margin-bottom: 14px
        padding: 0 50px 20px
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100%
            height: 65%
            bottom: 0
            left: 0
            position: absolute
            z-index: -1
            background-color: #FCE9EA
            border-radius: 150px 0 0 150px

        img
            margin: 0 20px
            width: 85%
            max-width: 600px

    .right
        text-align: left

    .left
        text-align: right
        .comparison
            &-img::before,
            &-item
                background-color: #D9ECFB
                border-radius: 0 150px 150px 0

    &-heading
        text-align: center
        font-weight: 400
        line-height: 130%
        font-size: 26px
        span
            display: inline-block
            text-align: right
        b
            font-size: 36px

    &-total
        font-size: 18px
        line-height: 130%
        position: absolute
        top: 16%
        left: 0
        width: 100%
        padding: 9px 150px 10px 0
        text-align: center
        background: linear-gradient(90deg, #D9ECFB 39.11%, #FADBDC 63.99%)
        span
            display: inline-block
            text-align: left
        b
            font-size: 30px

    &-item
        padding: 13px 0
        background-color: #FCE9EA
        margin-bottom: 14px
        border-radius: 150px 0 0 150px
        p
            margin: 0
            display: inline-block
            vertical-align: middle
            font-size: 18px
            line-height: 140%
            b
                font-size: 24px
        img
            display: inline-block
            vertical-align: middle
            width: 70px
            height: 70px
            margin: 0 18px

@import 'slick'

.guarantee
    &-title
        max-width: 540px
        margin: 0 auto

    &-img,
    &-slider
        width: 55%
        position: relative
        z-index: 1
        text-align: center
        &::before
            content: ''
            display: block
            width: 100%
            height: 65%
            bottom: 50%
            transform: translateY(50%)
            left: 0
            position: absolute
            z-index: -1
            background: linear-gradient(270deg, #00B6FF 0%, rgba(0, 182, 255, 0) 100%)
        img
            max-width: 90%

    &-slider
        display: flex
        padding: 60px 0
        &::before
            width: 80%
            left: 0
            height: 100%
            border-radius: 0
            background: linear-gradient(270deg, rgba(0, 182, 255, 0) 0%, #00B6FF 100%)

        .slick
            &-prev
                display: none
            &-next
                right: -30px

    &-item
        width: 310px
        height: 460px
        margin: 0 7.5px
        img
            width: 100%
            height: 100%
            max-width: 100%
            border: 4px solid #FFFFFF
            object-fit: cover
        a
            opacity: 1 !important

    &-bottom
        .guarantee-title
            max-width: 30%

.process
    padding: 0 0 60px
    h2
        text-align: center
        margin-bottom: 70px

    ol
        padding: 0
        counter-reset: counter
        list-style-type: none
        align-items: stretch
        margin: 0

    li
        counter-increment: counter
        width: 32.5%
        background-color: #FFFFFF
        border: 1px solid rgba(0, 0, 0, 0.2)
        border-radius: 30px
        padding: 60px 40px
        margin: 50px 0
        position: relative
        &::before
            content: "0" counter(counter)
            font-weight: 900
            font-size: 87px
            display: inline-block
            line-height: 100%
            color: #fff
            text-shadow: 1px 1px 0 #000, -1px -1px 0 #000
            position: absolute
            top: -65px
            left: 30px
            z-index: -1

        &.pop
            background-color: $prime
            color: #fff
            border-color: $prime
            box-shadow: -30px 36px 135px -58px $prime
        // &:nth-child(4)
        //     margin-top: -20px
        // &:nth-child(6)
        //     margin-top: -50px

    .heading
        font-weight: 700
        font-size: 18px
        line-height: 130%
        margin: 0 0 10px
        position: relative
        display: flex
        align-items: center
        img 
            margin-right: 12px
            width: 43px

    .text
        font-weight: 400
        font-size: 14px
        line-height: 150%
        margin: 0

.order
    overflow: hidden
    .container
        min-height: 750px

    h2
        margin-bottom: 15px

    p
        max-width: 430px
        margin-bottom: 25px

    .container
        align-items: flex-start

    &-title
        width: 40%
        .btn
            font-size: 15px
            padding: 22px 30px 20px
            left: -15px
            position: relative
            margin-bottom: 70px

    .phone
        width: 280px
        margin-bottom: 40px

    &__img
        width: 60%
        height: 100%
        object-fit: contain
        position: absolute
        top: 45%
        transform: translateY(-50%)
        right: 0
        z-index: -1

    &-form
        position: absolute
        bottom: 5%
        z-index: 1111
        left: 30%
        background-color: #fff
        width: 400px
        padding: 60px 50px
        box-shadow: -40px 15px 100px -51px rgba(0, 0, 0, 0.4)
        border-radius: 68px

.map
    text-align: center
    overflow: hidden
    .wrap
        justify-content: center
        gap: 8px 8px

    .btn
        display: inline-block
        padding: 10px 41px 8px 20px
        line-height: 120%
        font-size: 14px
        background-image: url(../img/arrow-down_white.svg)
        background-repeat: no-repeat
        background-position: center right 20px
        background-size: 15px auto
        min-width: unset

    span
        display: inline-block
        padding: 4px 15px 3px
        border: 1px solid rgba(0, 0, 0, .2)
        border-radius: 30px
        font-size: 14px
        text-transform: none

        &::first-letter
            text-transform: uppercase

        &.hidden,
        &.mob-hidden
            display: none

        @media screen and ( min-width: 1200px )
            &.mob-hidden
                display: inline-block

    &-img
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100vw
            height: 60%
            background: linear-gradient(89.99deg, $prime 0.01%, rgba(255, 204, 0, 0) 49.67%, $prime 99.99%)
            z-index: -1
            pointer-events: none
            position: absolute
            bottom: 20%
            left: 50%
            transform: translateX(-50%)
            opacity: .2

@media screen and ( max-width: 1500px )
    .main
        margin-bottom: 0

        &__img
            right: -5%
            bottom: auto
            top: 7%
            width: 85%

        &-content
            max-width: 1200px

    .stackers,
    .reachtruck .title
        &::before
            width: 1140px
            max-width: 100%
            top: 7%
            font-size: 156px

@media screen and ( max-width: 1200px )
    .main
        min-height: unset
        &::before
            height: 48%

        h1
            text-align: left

        &__text
            font-size: 14px

        &__img
            width: 100%
            max-width: 100vw
            position: relative
            left: 0
            bottom: 80px
            right: 0
            display: block
            margin: 0 auto 0

        &__text
            text-align: center

        &-col
            background-color: transparent
            margin: 0 auto
            box-shadow: none
            padding: 20px 0 0
            left: 0

        &__text
            font-size: 18px
            margin-bottom: 15px

        &-col

        &-item
            width: 100%

    .features
        top: 0
        .wrap
            gap: 20px 2%
        .item
            width: 32%
            margin-bottom: 20px

    .products
        padding: 20px 16px 0
        margin-bottom: 40px

    .product
        width: 48%
        .it
            min-width: 100px
            width: 32%
            font-size: 11px
            padding: 0

        .ib
            .it
                font-size: 12px

    .comparison
        h2
            margin-bottom: 20px
        .info
            font-size: 14px
            line-height: 130%
            padding: 17px 30px 15px 70px
            background-position: center left 18px
            background-size: 40px auto
        &-total
            position: relative
            top: -10px
            text-align: center
            padding: 15px 0
            background: #e5f8dd
            line-height: 150%
            span
                text-align: center
        .right,
        .left
            width: 100%

        &-img
            margin-bottom: 30px
            text-align: center
            padding: 0 0px 20px
            img
                margin: 0
                width: 500px
                max-width: 100%

        &-img::before,
        &-item
            border-radius: 0 !important
        &-item
            display: flex
            flex-wrap: wrap
            justify-content: center
            padding-top: 0
            margin-bottom: 30px
            padding-bottom: 10px
            img
                order: 1
                margin: 0
                position: relative
                top: -20px
            p
                text-align: center !important
                order: 2
                width: 100%

    .guarantee
        &-title
            padding: 0 15px

        &-top
            margin-bottom: 40px
        &-img
            width: 100%
        p
            margin: 0

        &-slider
            padding: 0
            &::before
                display: none

            .slick
                &-next
                    right: 15px

                &-slide

        &-item
            margin: 0 4px
            img
                border-width: 2px
                border-color: $prime

        &-bottom
            .guarantee
                &-title
                    order: 1
                    max-width: 100%
                    margin-bottom: 40px

                &-slider
                    order: 2
                    max-width: 100%
                    width: 100%

    .process
        ol
            align-items: stretch
        li
            width: 49%
            position: relative
            top: auto !important
            margin: 0 0 60px !important
            &::before
                font-size: 60px
                top: -45px

    .order
        padding: 0 0 300px

        .container
            display: block
            min-height: unset
            position: static

        &-title
            width: 100%

            p
                max-width: 100%

        .phone
            vertical-align: top

        &__img
            width: 100vw
            max-width: 100vw
            position: relative
            z-index: -1
            margin: 0
            top: auto
            transform: none
            left: -16px
            right: auto
            bottom: auto
            height: unset

        &-form
            padding: 50px 30px
            width: 90%
            right: 5%
            left: auto
            bottom: 40px
            box-shadow: -20px -22px 215px -61px rgb(0 0 0 / 25%)

    .map
        .wrap
            gap: 6px 6px

        span
            padding: 3px 10px 2px
            font-size: 12px

        .btn
            font-size: 12px
            padding: 8px 35px 6px 15px
            background-position: center right 15px

    .wides
        padding-bottom: 0
        overflow: hidden
        .container
            display: block

        .wrap 
            margin: 100px 0 0

        &-title 
            width: 100%

    .wide
        margin: 0 auto 100px
        max-width: 500px

@media screen and ( max-width: 700px )
    .main
        padding-bottom: 100px
        h1
            text-transform: none
            font-size: 27px
            margin-bottom: 30px

        &__img
            bottom: 0

        .container
            position: static

        .btn
            position: absolute
            bottom: 50px
            left: 16px
            width: 290px

    .features
        margin-bottom: 60px
        padding-bottom: 40px
        .wrap 
            gap: 20px 2%
        &::after
            height: 55%
        .item
            width: 49%
            // margin-bottom: 15px
            img
                width: 60px
            p
                font-size: 14px

    .product
        width: 100%
        max-width: 400px
        margin: 0 auto 30px
        ul li, .it, .ib .it
            font-size: 11px

        .ib
            gap: 0 10px

        .btn
            border-width: 1px
            font-weight: 500
            font-size: 14px

    .comparison
        .info
            font-size: 12px

    .photoshoot
        .slider
            &::before,
            &::after
                width: 180%
                left: -40%
                top: -50px
                height: 100px

            &::after
                top: auto
                bottom: -50px

            &-item
                min-width: unset
                width: 90vw
                max-height: 88vh
                margin: 0 4px

    .process
        li
            width: 100%
            padding: 50px 30px

    .order
        p
            margin-bottom: 15px
        .container
            position: static
            min-height: unset

        &-title
            margin-bottom: 0
            .btn
                margin-bottom: 30px
                padding: 16px 20px 14px
                left: 0

        .phone
            width: 100%
            margin-bottom: 30px
            b
                font-size: 18px

    .wides
        h2
            margin-bottom: 10px
            b
                display: block

        &-title 
            ul 
                display: block

            li 
                width: 100%
    .wide
        padding: 0 20px 30px 30px !important
        width: 100%
        border: none
        z-index: 1
        margin-bottom: 40px
        &::before
            content: ''
            display: block
            width: 100%
            height: 70%
            position: absolute
            bottom: 0
            left: 0
            border-radius: 30px
            border: 1px solid rgba(0, 0, 0, .3)
            z-index: -1

        &__img
            position: static
            transform: none
            width: 100% !important
            height: 300px !important

        .it
            display: inline-flex
            width: unset
            max-width: unset
            margin: 0 20px 10px 0
            &:nth-child(2n+2)
                margin-right: 2px

        .wrap
            margin-top: 10px
            justify-content: space-around
            padding: 15px 0
            border-radius: 8px
            background-color: rgba($prime, .1)
            .it
                width: unset

        .btn
            margin-top: 15px
            left: 0

@import 'footer'
